<form role="form">
  <div class="form-group">
    <label ng-if="!vm.url">Jenkins Server URL</label><span ng-if="!vm.url" class="grey glyphicon glyphicon-info-sign ng-scope" uib-tooltip-html="connectionSetupTooltip" tooltip-placement="bottom" aria-label="A valid URL to your Jenkins server must be stored here"></span>

    <p ng-if="!vm.url">
      <input class="form-control" id="apiUrl" ng-model="config.apiUrl" placeholder="Enter Api-Url" type="text" ng-change="vm.updateProjectList(config.apiUrl)">
    </p>
    <label>Project</label><span class="grey glyphicon glyphicon-info-sign ng-scope" uib-tooltip="Select the project to display the status for. Start typing the projects name. Auto-completion shows matching projects to select from. Review your URL if no projects are displayed." tooltip-placement="bottom" aria-label="Here you can select the project for which the build status is to be displayed. If the URL in the Connection Setup field has been supplied correctly, you can simply start typing and select the correct project."></span>

    <input type="text" ng-model="config.project"
           uib-typeahead="project.name for project in vm.projects | filter:$viewValue | limitTo:10" class="form-control">
  </div>
</form>
