<style type="text/css">
  .statusImg {
    max-width: 100px;
  }
  .break-word {
    word-wrap: break-word
  }
  a > h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .glyphicon-info-sign{
    margin-left: 3px;
  }

</style>
<div>
  <div class="content">
    <div class="alert alert-info" ng-if="!vm.data">
      Please configure a project
    </div>
    <div ng-if="vm.data">
      <div class="col-md-7 col-xs-7">
        <a href="{{vm.data.url}}" target="_blank" class="break-word">
          <h3>{{vm.data.projectFullName}}</h3>
        </a>
        <p><b>Last Commit:</b> {{vm.data.lastCommitMsg}}</p>
        <p><b>Author:</b> {{vm.data.lastCommitBy}}</p>
      </div>

      <div ng-if="vm.data.imgSource" class="col-md-5 col-xs-5 pull-right">
        <img ng-src="{{vm.data.imgSource}}" class="statusImg pull-right">
      </div>

    </div>
  </div>
</div>
